<!-- Portada acerca de -->

<section class="portada">
    <div class="row">
      <div class="col-sm-8 pt-3 mt-5">
        <h2 class="display-5 text-center text-light fw-bold">{{miAcercaDe?.linea1}}</h2>
        <h2 class="display-5 text-center text-light ">{{miAcercaDe?.linea2}}</h2>
        <h2 class="display-5 text-center text-light">{{miAcercaDe?.linea3}}t</h2>
        <h2 class="display-5 text-center text-light">{{miAcercaDe?.linea4}}</h2>
      </div>
      <div class="col-sm-4 mb-5 ps-5">
        <img src="/assets/img/MIA.png" class="rounded-circle img-fluid mx-auto d-block pt-5" alt="Uuups" width="300">
  
      </div>
    </div>
  </section>