    <nav class="navbar navbar-expand-lg bg-ligth" style="background-color: #9A93B0 ;">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">
                <img src="/assets/img/arg-programa.png" class="rounded-pill ms-3" width="170">
            </a>

            <ul class="list-group list-group-horizontal">

                <!-- Button trigger cerrar-->
                <li class="list-group-item">
                    <a class="btn btn-dark" routerLink="/login" role="button">Salir</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid backoffice">
        <div class="row">
            <div class="col-1">

            </div>
        </div>
        <div class="col-3">
            <h3 class="ms-3 mt-4">
                Secciones
            </h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#redes"><i
                            class="fa-solid fa-share-nodes"></i> Redes Sociales</a>
                </li>
                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#portada"><i
                            class="fa-regular fa-image"></i> Portada</a>
                </li>
                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#informacion"><i
                            class="fa-solid fa-circle-info"></i> Información</a>
                </li>
                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseExperiencia"><i
                            class="fa-solid fa-briefcase"></i> Experiencia</a>
                    <span class="badge bg-dark rounded-pill ms-2">4</span>
                </li>
                <!--inicio experiencia colapsable-->
                <div class="collapse me-auto mb-auto" id="collapseExperiencia">
                    <div class="card card-body">
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#experienciaUno"><i
                                    class="fa-solid fa-briefcase"></i> Experiencia 1</a>

                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#experienciaDos"><i
                                    class="fa-solid fa-briefcase"></i> Experiencia 2</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#experienciaTres"><i
                                    class="fa-solid fa-briefcase"></i> Experiencia 3</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#experienciaCuatro"><i
                                    class="fa-solid fa-briefcase"></i> Experiencia 4</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#agregarExperiencia">
                                <i></i> + Agregar Experiencia</a>
                        </li>
                    </div>
                </div>
                <!--fin experiencia colapsable-->

                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFormacion"><i
                            class="fa-sharp fa-solid fa-graduation-cap"></i> Formación</a>
                    <span class="badge bg-dark rounded-pill ms-2">4</span>
                </li>
                <!--inicio colapsable formación-->
                <div class="collapse me-auto mb-auto" id="collapseFormacion">
                    <div class="card card-body">
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#formacionUno"><i
                                    class="fa-solid fa-briefcase"></i> Formación 1</a>

                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#formacionDos"><i
                                    class="fa-solid fa-briefcase"></i> Formación 2</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#formacionTres"><i
                                    class="fa-solid fa-briefcase"></i> Formación 3</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#formacionCuatro"><i
                                    class="fa-solid fa-briefcase"></i> Formación 4</a>
                        </li>
                        <li>
                        <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#agregarFormacion">
                            <li class="list-group-item">
                                <i></i> + Agregar formación
                        </a>
                        </li>
                    </div>
                </div>


                <!--hard&soft skills-->

                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#skills"><i
                            class="fa-solid fa-bars-progress"></i> Hard&Soft Skils</a>
                </li>

                <!--proyectos inicio colapsable -->

                <!--proyectos inicio colapsable -->
                <li class="list-group-item">
                    <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProyecto"><i
                            class="fa-solid fa-diagram-project"></i> Proyectos</a>
                    <span class="badge bg-dark rounded-pill ms-2">3</span>
                </li>

                <div class="collapse me-auto mb-auto" id="collapseProyecto">
                    <div class="card card-body">
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#proyectoUno"><i
                                    class="fa-solid fa-diagram-project"></i> Proyecto 1</a>

                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#proyectoDos"><i
                                    class="fa-solid fa-diagram-project"></i> Proyecto 2</a>
                        </li>
                        <li class="list-group-item">
                            <a class="link" href="#" data-bs-toggle="modal" data-bs-target="#proyectoTres"><i
                                    class="fa-solid fa-diagram-project"></i> Proyecto 3</a>
                        </li>
                    </div>
                </div>
                </ul>
        </div>
    
    </div>
    

    <div class="col-7">


    </div>
    <div class="col-1">


    </div>
    


    <!-- Footer-->
    <a name="footer mt-5">
        <div class="footer" style="background-color: #1e1c27ac; ">
            <div class="container-fluid h-25">
                <div class="row w-100 align-items-center">
                    <div class="col text-center">

                        <p class="mt-3" style="color:#ACACAC ;">&copy; 2022 Luciano Villani - Buenos Aires,
                            Argentina</p>
                    </div>
                </div>
            </div>
        </div>
    </a>


    <!-- posicion abajo no andaaaa

 inicio Modales proyectos -->
    <div class="modal fade" id="proyectoUno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proyecto 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picProyectoUno" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picProyectoUno">
                    </div>
                    <div class="mb-3">
                        <label for="nombreProyectoUno" class="form-label">Ingrese nombre del proyecto<span
                                style="color:#9A93B0;"><em> Ej: GravityDraft</em></span></label>
                        <input type="text" class="form-control" id="nombreProyectoUno" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleProyectoUno"></textarea>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="proyectoDos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proyecto 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picProyectoDos" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picProyectoDos">
                    </div>
                    <div class="mb-3">
                        <label for="nombreProyectoDos" class="form-label">Ingrese nombre del Proyecto<span
                                style="color:#9A93B0;"><em> Ej: GravityDraft</em></span></label>
                        <input type="text" class="form-control" id="nombreProyectoDos" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleProyectoDos"></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="proyectoTres" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proyecto 3</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picProyectoTres" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picProyectoTres">
                    </div>
                    <div class="mb-3">
                        <label for="nombreProyectoTres" class="form-label">Ingrese nombre del Proyecto<span
                                style="color:#9A93B0;"><em> Ej: GravityDraft</em></span></label>
                        <input type="text" class="form-control" id="nombreProyectoTres" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleProyectoTres"></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
    <!--fin modales proyectos-->

    -->


    <!-- inicio Modal Redes -->
    <div class="modal fade" id="redes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sección Redes sociales</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- inicio de formulario en el modal -->
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="github" class="form-label">Ingrese URL para GITHUB <span
                                                style="color:#9A93B0;"><em>Ej:
                                                    https://github.com/user</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="facebook" class="form-label mt-4">Ingrese URL para FACEBOOK <span
                                                style="color:#9A93B0;"><em>Ej:
                                                    https://facebook.com/user</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>

                                    <div class="mb-3">
                                        <label for="instagram" class="form-label mt-4">Ingrese URL para INSTAGRAM <span
                                                style="color:#9A93B0;"><em>Ej:
                                                    https://instagram.com/user</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>

                                </form>
                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

    <!-- inicio Modal portada -->
    <div class="modal fade" id="portada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sección Portada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <div class="mb-3">
                                    <label for="portada" class="form-label">Seleccione la imagen // El archivo debe
                                        llamarse "portada.png"</label>
                                    <input class="form-control" type="file" id="portada">
                                </div>

                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- inicio Modal información -->
    <div class="modal fade" id="informacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sección Información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="info1" class="form-label">Ingrese texto linea 1 <span
                                                style="color:#9A93B0;"><em>Ej: Hola soy Luciano </em></span></label>
                                        <input type="text" class="form-control" id="info1" aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="info2" class="form-label">Ingrese texto linea 2 <span
                                                style="color:#9A93B0;"><em>Ej: Co fundador de
                                                    VisualDigital</em></span></label>
                                        <input type="text" class="form-control" id="info2" aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="info3" class="form-label">Ingrese texto linea 3 <span
                                                style="color:#9A93B0;"><em>Ej: GravityDraft</em></span></label>
                                        <input type="text" class="form-control" id="info3" aria-describedby="emailHelp">

                                    </div>


                                    <div class="mb-3">
                                        <label for="info4" class="form-label">Ingrese texto linea 4 <span
                                                style="color:#9A93B0;"><em>Ej: Full Stack Developer Jr. de
                                                    Argentina</em></span></label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">

                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>

    </div>
    <!--fin modal información-->

    <!-- inicio Modal experiencia -->
    <div class="modal fade" id="experienciaUno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Experiencia 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picExperienciaUno" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picExperienciaUno">
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="experienciaUnoinfo1" class="form-label">Ingrese nombre de empresa o empleador <span
                                style="color:#9A93B0;"><em> Ej: VisualDigital</em></span></label>
                        <input type="text" class="form-control" id="experienciaUnoinfo1" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleUno"></textarea>
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="periodoUno" class="form-label">Ingrese período<span style="color:#9A93B0;"><em> Ej:
                                    2018 a 2021</em></span></label>
                        <input type="text" class="form-control" id="priodoUno" aria-describedby="emailHelp">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="experienciaDos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Experiencia 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picExperienciaDos" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picExperienciaDos">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaDos" class="form-label">Ingrese nombre de empresa o empleador <span
                                style="color:#9A93B0;"><em> Ej: VisualDigital</em></span></label>
                        <input type="text" class="form-control" id="experienciaDos" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleUno"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="periodoDos" class="form-label">Ingrese período<span style="color:#9A93B0;"><em> Ej:
                                    2018 a 2021</em></span></label>
                        <input type="text" class="form-control" id="periodoDos" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="experienciaTres" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Experiencia 3</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picExperienciaTres" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picExperienciaTres">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaTres" class="form-label">Ingrese nombre de empresa o empleador <span
                                style="color:#9A93B0;"><em> Ej: VisualDigital</em></span></label>
                        <input type="text" class="form-control" id="experienciatres" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleTres"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="periodoTres" class="form-label">Ingrese período<span style="color:#9A93B0;"><em> Ej:
                                    2018 a 2021</em></span></label>
                        <input type="text" class="form-control" id="periodoTres" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="experienciaCuatro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Experiencia 4</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picExperienciaCuatro" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picExperienciaCuatro">
                    </div>
                    <div class="mb-3">
                        <label for="experienciaCuatro" class="form-label">Ingrese nombre de empresa o empleador <span
                                style="color:#9A93B0;"><em> Ej: VisualDigital</em></span></label>
                        <input type="text" class="form-control" id="experienciaCuatro" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="detalleCuatro"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="periodoCuatro" class="form-label">Ingrese período<span style="color:#9A93B0;"><em>
                                    Ej:
                                    2018 a 2021</em></span></label>
                        <input type="text" class="form-control" id="periodoCuatro" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agregarExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Experiencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="picAgregarExperiencia" class="form-label">Seleccione la imagen</label>
                        <input class="form-control" type="file" id="picAgregarExperiencia">
                    </div>
                    <div class="mb-3">
                        <label for="agregarExperiencia" class="form-label">Ingrese nombre de empresa o empleador <span
                                style="color:#9A93B0;"><em> Ej: VisualDigital</em></span></label>
                        <input type="text" class="form-control" id="agregarExperiencia" aria-describedby="emailHelp">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Ingrese detalle</span>
                        <textarea class="form-control" aria-label="agregarDetalle"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="agregarPeriodo" class="form-label">Ingrese período<span style="color:#9A93B0;"><em>
                                    Ej:
                                    2018 a 2021</em></span></label>
                        <input type="text" class="form-control" id="agregarPeriodo" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--fin modal experiencia-->

    <!-- inicio Modal formación (4) -->
    <!--1-->
    <div class="modal fade" id="formacionUno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formación 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="formacionUno" class="form-label">Ingrese Institución o curso<span
                                                style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="formacionUno"
                                            aria-describedby="emailHelp">

                                    </div>


                                    <div class="mb-3">
                                        <label for="formacionUno" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Desarrollador fullStack
                                                    Jr.</em></span></label>
                                        <input type="text" class="form-control" id="formacionUno"
                                            aria-describedby="emailHelp">

                                    </div>
                                </form>

                            </div>
                            
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- modal formacion 2-->
    <div class="modal fade" id="formacionDos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formación 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="formacionDos" class="form-label">Ingrese Institución o curso<span
                                                style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="formacionDos"
                                            aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="formacionDos" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Desarrollador fullStack
                                                    Jr.</em></span></label>
                                        <input type="text" class="form-control" id="formacionDos"
                                            aria-describedby="emailHelp">

                                    </div>

                                </form>

                            </div>
                            
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

    <!-- modal formacion 3-->
    <div class="modal fade" id="formacionTres" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formación 3</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="formacionTres" class="form-label">Ingrese Institución o curso<span
                                                style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="formacionTres"
                                            aria-describedby="emailHelp">

                                    </div>




                                    <div class="mb-3">
                                        <label for="formacionTres" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Desarrollador fullStack
                                                    Jr.</em></span></label>
                                        <input type="text" class="form-control" id="formacionTres"
                                            aria-describedby="emailHelp">

                                    </div>
                                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                    <button type="button" class="btn btn-warning">Actualizar</button>
                                </form>

                            </div>
                            
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

    <!-- modal formacion 4-->
    <div class="modal fade" id="formacionCuatro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formación 4</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="formacionCuatro" class="form-label">Ingrese Institución o curso<span
                                                style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="formacionCuatro"
                                            aria-describedby="emailHelp">

                                    </div>


                                    <div class="mb-3">
                                        <label for="formacionCuatro" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Desarrollador fullStack
                                                    Jr.</em></span></label>
                                        <input type="text" class="form-control" id="formacionCuatro"
                                            aria-describedby="emailHelp">

                                    </div>


                                </form>
                            </div>
                            </div>
                            
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    <!--Agregar formacion modal-->
    <div class="modal fade" id="agregarFormacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar formación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="agregarFormacion" class="form-label">Ingrese Institución o
                                            curso<span style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="agregarFormacion"
                                            aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="agregarDetalle" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Desarrollador fullStack
                                                    Jr.</em></span></label>
                                        <input type="text" class="form-control" id="agregarDetalle"
                                            aria-describedby="emailHelp">

                                    </div>
                                </form>

                                </div>
                           
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>


    <!--fin modal formación-->

    <!-- inicio Modal skills -->
    <div class="modal fade" id="skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sección Soft&Hard Skills<span
                            style="color:#9A93B0"><em> **Ingrese porcentaje de progreso de cada habilidad**</em></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <!-- <form>--> 
                                    <div class="mb-2">
                                        <form class=>
                                            <label for="htmlSkill" class="form-label"> HTML</label>
                                            <input type="text" class="form-control" id="htmlSkill"
                                                aria-describedby="emailHelp" style="width: 100px;">




                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="cssSkill" class="form-label"> CSS</label>
                                                <input type="text" class="form-control" id="cssSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="boostrapSkill" class="form-label"> BOOTSTRAP</label>
                                                <input type="text" class="form-control" id="boostrapSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="gitSkill" class="form-label"> GIT</label>
                                                <input type="text" class="form-control" id="gitSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                        </form>
                                    
                                    </div>
                            </div>
                            
                                    <div class="col-4">
                                        <form>
                                            <div class="mb-2">
                                                <label for="tsSkill" class="form-label"> TYPE SCRIPT</label>
                                                <input type="text" class="form-control" id="tsSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="javaSkill" class="form-label"> JAVA</label>
                                                <input type="text" class="form-control" id="javaSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="sqlSkill" class="form-label"> SQL</label>
                                                <input type="text" class="form-control" id="sqlSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="ardSkill" class="form-label"> ARDUINO</label>
                                                <input type="text" class="form-control" id="ardSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                        </form>
                                    </div>
                                    <div class="col-4">
                                        <form>
                                            <div class="mb-2">
                                                <label for="figmaSkill" class="form-label"> FIGMA</label>
                                                <input type="text" class="form-control" id="figmaSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="colSkill" class="form-label"> Colaboración y trabajo en
                                                    equipo</label>
                                                <input type="text" class="form-control" id="colSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">

                                            </div>


                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>

                                            <div class="mt-3 mb-2">
                                                <label for="resprobSkill" class="form-label">Resolución de
                                                    problemas</label>
                                                <input type="text" class="form-control" id="resprobSkill"
                                                    aria-describedby="emailHelp" style="width: 100px;">
                                            </div>
                                            <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-warning">Actualizar</button>


                                        </form>
                                    </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    
        <!--fin modal skills-->
