<!-- Menú de navegación -->
<nav class="navbar navbar-expand-lg bg-ligth" style="background-color: #9A93B0 ;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/img/arg-programa.png" class="rounded-pill ms-3" width="170">
      </a>
  
       <ul class="list-group list-group-horizontal">
       <li *ngFor="let redes of misRedes" class="list-group-item">
          <a href="{{ redes.urlDestino }}" target="_blank">
            <i class="fa-brands fa-2x" [ngClass]="redes.icon"></i>
          </a>
        </li>
        

       
        <!-- Button login-->
        <li class="list-group-item">
          <a class="btn btn-outline-dark" routerLink="/login" role="button">Acceder</a>
        </li>
  
      </ul>
    </div>
  </nav>
