<div class="col-3">
    <h3 class="ms-3 mt-4">
        Secciones
    </h3>
    <ul class="list-group">

        
<!--inicio redes modal-->
<div class="modal fade" id="redes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar redes sociales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio de formulario red en el modal -->
                <div class="container">
                    <div class="row">
                        <div class="col-1">

                        </div>
                        <div class="col-10">
                            <form [formGroup]="redesForm" (ngSubmit)="onEnviarRed($event)">
                                <div class="mb-3" >
                                    <label for="idRedsocial" class="form-label">ID</label>
                                    <input type="url" formControlName="id" class="form-control" id="id" name="id"
                                        aria-describedby="emailHelp">
                                    <label for="urlRedsocial" class="form-label">Ingrese URL</label>
                                    <input type="url" formControlName="urlDestino" class="form-control" id="urlDestino" name="urlDestino"
                                        aria-describedby="emailHelp">
                                        <label for="claseIcono" class="form-label">Ingrese clase de Icono (fontawesome)</label>
                                    <input type="text" formControlName="icon" class="form-control" id="icon" name="icon"
                                        aria-describedby="emailHelp">

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" [disabled]="redesForm.invalid">Guardar</button>
                                    <button type="button" class="btn btn-danger" (click)="onEliminarRed()">Eliminar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    
                                </div>
                               
                            </form>
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>


            </div>
            
        </div>
    </div>
</div>
        <!--inicio redes colapsable-->
        <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRedes"><i
                    class="fa-solid fa-share-nodes"></i> Redes Sociales</a>
            <span class="badge bg-dark rounded-pill ms-2">3</span>
        </li>
        
       
        <div class="collapse me-auto mb-auto" id="collapseRedes">
            <div class="card card-body">
                <li *ngFor="let redes of misRedesBO" class="list-group-item ">
                    <a (click)="selecRed(redes)" class="link" href="#" data-bs-toggle="modal" data-bs-target=#redes><i
                            class="fa-solid fa-briefcase"></i>{{redes.icon}}</a>
                </li>
               
            </div>
        </div>
       <!--fin redes colapsable-->
       
       <!-- inicio informacion --> 
        <li  class="list-group-item">
            <a (click)="selecInfo(miInformacionBO)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#informacion"><i
                    class="fa-solid fa-circle-info"></i> Información</a>
        </li>
       <!--Inicio formulario información-->
        <div class="modal fade" id="informacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar información</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
        
                                </div>
                                <div class="col-10">
                                    <form [formGroup]="infoForm" (ngSubmit)="onEnviarInformacion($event)">
                                        <div class="mb-3">
                                            <label for="info1" class="form-label">Ingrese texto linea 1</label>
                                            <input type="text" class="form-control" formControlName="linea1" id="linea1" name="linea1" aria-describedby="emailHelp">
        
                                        </div>
        
                                        <div class="mb-3">
                                            <label for="info2" class="form-label">Ingrese texto linea 2</label>
                                            <input type="text" class="form-control" formControlName="linea2" id="linea2" name="linea2" aria-describedby="emailHelp">
        
                                        </div>
        
                                        <div class="mb-3">
                                            <label for="info3" class="form-label">Ingrese texto linea 3</label>
                                            <input type="text" class="form-control" formControlName="linea3" id="linea3" name="linea3" aria-describedby="emailHelp">
        
                                        </div>
        
        
                                        <div class="mb-3">
                                            <label for="info4" class="form-label">Ingrese texto linea 4</label>
                                            <input type="text" class="form-control" formControlName="linea4" id="linea4" name="linea4"
                                                aria-describedby="emailHelp">
        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                           <!--<button type="button" class="btn btn-danger" (click)="onEliminarInformacion()">Eliminar</button>--> 
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            <div class="col-1">
        
                            </div>
                        </div>
                    </div>
        
                    
        
                </div>
            </div>
        
        </div>
<!--Fin formulario información-->
<!--inicio experiencia colapsable-->
        <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseExperiencia"><i
                    class="fa-solid fa-briefcase"></i> Experiencia</a>
            <span class="badge bg-dark rounded-pill ms-2">4</span>
        </li>
        
        <!--inicio experiencia form-->
        <div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar Experiencia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="experienciaForm" (ngSubmit)="onEnviarExperiencia($event)">
                        <p class="text-danger"> --> Para agregar una nueva experiencia dejar el ID en blanco, el sistema asignara uno automáticamente - Para editar los datos actuales dejar el mismo ID</p>

                        <div class="mb-3">
                            <label for="experienciaId" class="form-label">ID</label>
                            <input type="text" formControlName="id" class="form-control" type="text" id="id" name="id">
                        </div>
                        <div class="mb-3">
                            <label for="experienciaTitulo" class="form-label">Ingrese titulo, nombre de empresa o empleador</label>
                            <input type="text" formControlName="titulo" class="form-control" type="text" id="titulo" name="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="experienciaPic" class="form-label">Ingrese ruta de la imagen</label>
                            <input type="text" formControlName="img_src" class="form-control" type="text" id="img_src" name="img_src">
                        </div>
                       
                        <p class="mb-3 mt-4"> Ingrese descripción</p>
                        <div class="input-group mt-4">
                            
                            <span class="input-group-text">Descripción: </span>
                            <textarea type="text" formControlName="descripcion" class="form-control" aria-label="detalleUno" id="descripcion" name="descripcion"></textarea>
                        </div>
                        <div class="mb-3 mt-4">
                            <label for="experienciaPeriodo" class="form-label">Ingrese período</label>
                            <input type="text" formControlName="periodo" type="text" class="form-control" id="periodo" name="periodo" aria-describedby="emailHelp">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="experienciaForm.invalid">Guardar</button>
                            <button type="button" class="btn btn-danger"(click)="onEliminarExperiencia()">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
    
                    </form>
                    </div>
                    
                  
                </div>
            </div>
        </div>

        <div class="collapse me-auto mb-auto" id="collapseExperiencia">
            <div class="card card-body">
                <li *ngFor="let experiencias of misExperienciasBO" class="list-group-item ">
                    <a (click)="selecExp(experiencias)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#experienciaModal"><i
                            class="fa-solid fa-briefcase"></i>{{ experiencias.titulo }}</a>
                </li>
                
            </div>
        </div>
        
        <!--fin experiencia colapsable-->

         <!--inicio modal formación-->

        <div class="modal fade" id="formacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar Formación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
    
                                </div>
                                <div class="col-10">
                                    <form [formGroup]="formacionForm" (ngSubmit)="onEnviarFormacion($event)">
                                        <div class="mb-3">
                                            <p class="text-danger"> --> Para agregar una nueva Formacion dejar el ID en blanco, el sistema asignara uno automáticamente - Para editar los datos actuales dejar el mismo ID</p>
                                            <label for="formacionId" class="form-label">ID</label>
                                            <input type="text" class="form-control" formControlName="id" id="id" name="id"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                        <div class="mb-3">
                                            <label for="formacionCurso" class="form-label">Ingrese Institución o curso</label>
                                            <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo"
                                                aria-describedby="emailHelp">
    
                                        </div>
    
    
                                        <div class="mb-3">
                                            <label for="formacionDetalle" class="form-label">Ingrese detalle</label>
                                            <input type="text" class="form-control" formControlName="descripcion" id="descripcion" name="descripcion"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                         <div class="mb-3">
                                            <label for="formacionReferenciaMenu" class="form-label">Ingrese nombre referencia para el menu</label>
                                            <input type="text" class="form-control" formControlName="referencia" id="referencia" name="referencia"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" [disabled]="formacionForm.invalid">Guardar</button>
                                            <button type="button" class="btn btn-danger" (click)="onEliminarFormacion()">Eliminar</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        
                                        </div>
                                    </form>
    
                                </div>
                                
                            </div>
                            <div class="col-1">
    
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
        <!--inicio colapsable formación-->
         <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFormacion"><i
                    class="fa-sharp fa-solid fa-graduation-cap"></i> Formación</a>
            <span class="badge bg-dark rounded-pill ms-2">4</span>
        </li>


       
        <div class="collapse me-auto mb-auto" id="collapseFormacion">
            <div class="card card-body">
                <li class="list-group-item" *ngFor="let formacion of miFormacionBO">
                    <a (click)="selecFormacion(formacion)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#formacionModal"><i
                            class="fa-solid fa-graduation-cap"></i>{{ formacion.referencia }}</a>
                </li>
                
            </div>
        </div>



        <!--hard skills-->

        <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHardskills"><i
                    class="fa-solid fa-diagram-project"></i> Hard Skills</a>
            <span class="badge bg-dark rounded-pill ms-2">3</span>
        </li>

        <div class="collapse me-auto mb-auto" id="collapseHardskills">
            <div class="card card-body">
                <li class="list-group-item" *ngFor="let hardskills of misHardskillsBO">
                    <a (click)="selecHardSkill(hardskills)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#hardskillsModal"><i
                            class="fa-solid fa-diagram-project"></i>{{hardskills.nombre}}</a>
                </li>
                
                
                
            </div>
            
            
        </div>
        <div class="modal fade" id="hardskillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar Hard Skills</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
    
                                </div>
                                <div class="col-10">
                                    <form [formGroup]="hardskillsForm" (ngSubmit)="onEnviarHardSkill($event)">

                                        <div class="mb-3">
                                            <p class="text-danger"> --> Para agregar una nueva habilidad dejar el ID en blanco, el sistema asignara uno automáticamente - Para editar los datos actuales dejar el mismo ID</p>
                                            <label for="hardskillId" class="form-label">ID</label>
                                            <input type="text" class="form-control" formControlName="id" id="id" name="id"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                        <div class="mb-3">
                                            <label for="hardskillnombre" class="form-label">Ingrese nombre de la habilidad</label>
                                            <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre"
                                                aria-describedby="emailHelp">
    
                                        </div>
    
    
                                        <div class="mb-3">
                                            <label for="hardskillPorcentaje" class="form-label">Ingrese porcentaje de progreso</label>
                                            <input type="text" class="form-control" formControlName="porcentaje" id="porcentaje" name="porcentaje"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                          <button type="submit" class="btn btn-primary" [disabled]="hardskillsForm.invalid">Guardar</button>
                                          <button type="button" class="btn btn-danger"(click)="onEliminarHardskill()">Eliminar</button>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        
                                    </form>
    
                                </div>
                                
                            </div>
                            <div class="col-1">
    
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        
    
                    </div>
                </div>
            </div>
        </div>

        
        
        <!-- soft skills-->

        <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSoftskills"><i
                    class="fa-solid fa-diagram-project"></i> Soft Skills</a>
            <span class="badge bg-dark rounded-pill ms-2">3</span>
        </li>

        <div class="collapse me-auto mb-auto" id="collapseSoftskills">
            <div class="card card-body">
                <li class="list-group-item" *ngFor="let softskills of misSoftskillsBO">
                    <a (click)="selecSoftSkill(softskills)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#softskillsModal"><i
                            class="fa-solid fa-diagram-project"></i>{{softskills.nombre}}</a>
                </li>
                
                
            </div>
        </div>
        <div class="modal fade" id="softskillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar Soft Skills</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
    
                                </div>
                                <div class="col-10">
                                    <form [formGroup]="softskillsForm" (ngSubmit)="onEnviarSoftSkill($event)">

                                        <div class="mb-3">
                                            <p class="text-danger"> --> Para agregar una nueva habilidad dejar el ID en blanco, el sistema asignara uno automáticamente - Para editar los datos actuales dejar el mismo ID</p>
                                            <label for="softskillId" class="form-label">ID</label>
                                            <input type="text" class="form-control" formControlName="id" id="id" name="id"
                                                aria-describedby="emailHelp">
    
                                        </div>

                                        <div class="mb-3">
                                            <label for="softskillnombre" class="form-label">Ingrese nombre de la habilidad</label>
                                            <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre"
                                                aria-describedby="emailHelp">
    
                                        </div>
    
    
                                        <div class="mb-3">
                                            <label for="softSkillPorcentaje" class="form-label">Ingrese porcentaje de progreso</label>
                                            <input type="text" class="form-control" formControlName="porcentaje" id="porcentaje" name="porcentaje"
                                                aria-describedby="emailHelp">
    
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" [disabled]="softskillsForm.invalid">Guardar</button>
                                            <button type="button" class="btn btn-danger" (click)="onEliminaroftskill()">Eliminar</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        
                                        </div>
                                      
                                    </form>
    
                                </div>
                                
                            </div>
                            <div class="col-1">
    
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
         

        <!--proyectos inicio colapsable -->
        <li class="list-group-item">
            <a class="link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProyectos"><i
                    class="fa-solid fa-diagram-project"></i> Proyectos</a>
            <span class="badge bg-dark rounded-pill ms-2">3</span>
        </li>

        <div class="collapse me-auto mb-auto" id="collapseProyectos">
            <div class="card card-body">
                <li class="list-group-item" *ngFor="let proyecto of misProyectosBO">
                    <a (click)="selecProyecto(proyecto)" class="link" href="#" data-bs-toggle="modal" data-bs-target="#proyectosModal"><i
                            class="fa-solid fa-diagram-project"></i>{{proyecto.titulo}}</a>
                </li>
                
                
                
            </div>
        </div>
        <div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar / Agregar proyecto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="proyectosForm" (ngSubmit)="onEnviar($event)">
    
    
                       
                        <div class="mb-3">
                            <p class="text-danger"> --> Para agregar un nuevo proyecto dejar el ID en blanco - Para editar los datos actuales dejar el mismo ID</p>
                            
                            <label for="idDeProyecto" class="form-label">ID</label>
                            <input type="text" formControlName="id" class="form-control" type="text" id="id" name="id">
                        </div>
                        <div class="mb-3">
                            <label for="imgProyecto" class="form-label">Ingrese ruta de la imagen</label>
                            <input type="text" formControlName="img_src" class="form-control" type="text" id="img_src" name="img_src">
                            
                        </div>
                        <div class="mb-3">
                            <label for="tituloProyecto" class="form-label">Ingrese título</label>
                            <input type="text" formControlName="titulo" class="form-control" type="text" id="titulo" name="titulo">
                        </div>
                        <div class="mb-3 mt-4">
                            <label for="descripcionProyecto" class="form-label">Ingrese descripcion</label>
                            <input type="text" formControlName="descripcion" type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="emailHelp">
                        </div>
                        
                        <div class="mb-3 mt-4">
                            <label for="linkVerMasproyecto" class="form-label">Ingrese URL del link ver más</label>
                            <input type="text" formControlName="link_ver_mas" type="text" class="form-control" id="link_ver_mas" name="link_ver_mas" aria-describedby="emailHelp">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="proyectosForm.invalid">Guardar</button>
                            <button type="button" class="btn btn-danger" (click)="onEliminar()" >Eliminar</button>
                            
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
    
                    </form>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
