<!-- Separador proyectos -->
<div class="row mx-auto" style="background-color: #1e1c27e6;">
    <h2 class="display-6 text-center text-light mb-1">Últimos Proyectos</h2>
  </div>
  <!-- Tarjetas proyectos -->
  <div class="row container-fluid mx-auto" style="background-color: #1E1C27 ;">
    <div class="col-sm" *ngFor="let proyectos of misProyectos">
      <div class="card card-border mx-auto mt-5 mb-5" style="width: 400px;">
        <img src="{{ proyectos.img_src }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ proyectos.titulo }}</h5>
          <p class="card-text">{{ proyectos.descripcion }}</p>
          <a href="{{ proyectos.link_ver_mas }}" target="_blank" class="btn btn-dark">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
  
