
<!-- 
<div class="modal fade" id="informacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sección Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-1">

                        </div>
                        <div class="col-10">
                            <form>
                                <div class="mb-3">
                                    <label for="info1" class="form-label">Ingrese texto linea 1 <span
                                            style="color:#9A93B0;"><em>Ej: Hola soy Luciano </em></span></label>
                                    <input type="text" class="form-control" id="info1" aria-describedby="emailHelp">

                                </div>

                                <div class="mb-3">
                                    <label for="info2" class="form-label">Ingrese texto linea 2 <span
                                            style="color:#9A93B0;"><em>Ej: Co fundador de
                                                VisualDigital</em></span></label>
                                    <input type="text" class="form-control" id="info2" aria-describedby="emailHelp">

                                </div>

                                <div class="mb-3">
                                    <label for="info3" class="form-label">Ingrese texto linea 3 <span
                                            style="color:#9A93B0;"><em>Ej: GravityDraft</em></span></label>
                                    <input type="text" class="form-control" id="info3" aria-describedby="emailHelp">

                                </div>


                                <div class="mb-3">
                                    <label for="info4" class="form-label">Ingrese texto linea 4 <span
                                            style="color:#9A93B0;"><em>Ej: Full Stack Developer Jr. de
                                                Argentina</em></span></label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">

                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="col-1">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button mb-2" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>

-->