
<!-- 
<div *ngFor="let formacion of miFormacionBO"> 
    <div class="modal fade" [id]="formacion.referencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ formacion.titulo }} ID:{{ formacion.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="formacionUno" class="form-label">Ingrese Institución o curso<span
                                                style="color:#9A93B0;"><em> Información actual  {{ formacion.titulo }} </em></span></label>
                                        <input type="text" class="form-control" id="formacionUno"
                                            aria-describedby="emailHelp">

                                    </div>


                                    <div class="mb-3">
                                        <label for="formacionUno" class="form-label">Ingrese detalle
                                            <span style="color:#9A93B0;"><em> Información actual {{ formacion.descripcion }}.</em></span></label>
                                        <input type="text" class="form-control" id="formacionUno"
                                            aria-describedby="emailHelp">

                                    </div>
                                     <div class="mb-3">
                                        <label for="formacionUno" class="form-label">Ingrese nombre referencia para el menu<span style="color:#9A93B0;"><em> Una sola parabla sin espacios // Información actual {{ formacion.referencia }}</em></span></label>
                                        <input type="text" class="form-control" id="formacionUno"
                                            aria-describedby="emailHelp">

                                    </div>
                                </form>

                            </div>
                            
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    </div>
-->


    

    <!--Agregar formacion modal
    <div class="modal fade" id="agregarFormacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar formación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="agregarFormacion" class="form-label">Ingrese Institución o
                                            curso<span style="color:#9A93B0;"><em> Ej: #YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="agregarFormacion"
                                            aria-describedby="emailHelp">

                                    </div>

                                    <div class="mb-3">
                                        <label for="agregarDetalle" class="form-label">Ingrese detalle del titulo o
                                            certificación<span style="color:#9A93B0;"><em> Ej: Segunda etapa de Argentina programa. Secretaría de Economía, Ministerio de Economía de la Nación.</em></span></label>
                                        <input type="text" class="form-control" id="agregarDetalle"
                                            aria-describedby="emailHelp">

                                    </div>
                                    <div class="mb-3">
                                        <label for="agregarRefe" class="form-label">Ingrese nombre para el menu del BO<span style="color:#9A93B0;"><em> Una sola parabla sin espacios -- Ej: YoProgramo</em></span></label>
                                        <input type="text" class="form-control" id="agregarRefe"
                                            aria-describedby="emailHelp">

                                    </div>
                                </form>

                                </div>
                           
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelarr</button>

                </div>
            </div>
        </div>
    </div>
-->