<app-navbar></app-navbar>

<section class="login"> 
    <div class="container">
      <div class="row">
        <div class="col-2">
          
        </div>
        <div class="col-8 formulario-login">
          <!-- Modal ventana login-->
    <div class="modal-body formulario-login">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Registrarse</button>
    </div>
    <small>Si ya tenés una cuneta<a routerLink="/login"> Ingresá</a></small>
        </div>
        <div class="col-2">
         
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>