<!-- Separador experiencia -->
<section>
    <div class="row mx-auto" style="background-color: #9a93b0e5;">
      <h2 class="display-6 text-center text-dark pb-3">Experiencia</h2>
    </div>
  </section>
  
  <!-- Experiencias  -->
  <section class="experiencia pb-5" style="background-color: #9A93B0;"> 
    <div class="row row-cols-1 row-cols-md-4 g-4 px-5 " >
    <div class="col" *ngFor="let experiencias of miExperiencia">
      <div class="card h-100">
        <img src="{{ experiencias.img_src}}" class="card-img-top  mx-auto" alt="..." style="width: 150px">
        <div class="card-body">
          <h5 class="card-title">{{ experiencias.titulo }}</h5>
          <p class="card-text">{{ experiencias.descripcion }}</p>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ experiencias.periodo }}</small>
        </div>
      </div>
    </div>
    </div>

  </section>