<!--
<div *ngFor="let redes of misRedesBO"> 
    <div class="modal fade" [id]="redes.icon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ID: {{ redes.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    //inicio de formulario en el modal 
                    <div class="container">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3" >
                                        <label for="urlRedsocial" class="form-label">Ingrese URL <span
                                                style="color:#9A93B0;"><em>URL actual: {{ redes.urlDestino }}  </em></span></label>
                                        <input type="url" class="form-control" id="urlRedsocial"
                                            aria-describedby="emailHelp">
                                            <label for="claseIcono" class="form-label">Ingrese clase de Icono  <span
                                                style="color:#9A93B0;"><em>Clase actual: {{ redes.icon }}  </em></span></label>
                                        <input type="text" class="form-control" id="claseIcono"
                                            aria-describedby="emailHelp">

                                    </div>
                                   
                                </form>
                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button mb-2" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                    

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>

// inicio modal agregar red social 
<div class="modal fade" id="agregarRed" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Red Social</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="urlAgregarRed" class="form-label">Ingrese URL<span
                            style="color:#9A93B0;"><em> Ej: facebook.com/luciano.villani</em></span></label>
                        <input class="form-control" type="text" id="urlAgregarRed">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="urlAgregarRed" class="form-label">Ingrese nombre de clase del icono <span
                                style="color:#9A93B0;"><em> Ej: fa-facebook</em></span></label>
                        <input type="text" class="form-control" id="urlAgregarRed" aria-describedby="emailHelp">
                    </div>
                  
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <p style="color:#9A93B0;"><em> // Nota: ** versión 1.0 ** </em> </p>
                <p style="color:#9A93B0;"><em> El ID se genera automáticamente</em> </p>
                <p style="color:#9A93B0;"><em> La clase del icono se importa de fontaweso.<a href="https://fontawesome.com/icons" target="_blank" class="link">  Ver Más</a></em> </p>
            </div>
        </div>
    </div>
-->