<!-- Separador formación y skills -->
<div class="row mx-auto" style="background-color: #1e1c27e6;">
    <div class="col-md-6">
      <h2 class="display-6 text-center text-light mb-2">Formación</h2>
    </div>
    <div class="col-md-6">
      <h2 class="display-6 text-center text-light mb-2">Hard&Soft Skills</h2>
    </div>
  </div>
  <!-- formación y skills -->
  <div class="row">
    <div class="col-md-6">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start mt-4">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Curso #YoProgramo.</div>
            Segunda etapa de Argentina programa. Secretaría de Economía, Ministerio de Economía de la Nación.
          </div>
         
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Curso #SéProgramar.</div>
            Primera etapa de Argentina programa. Secretaría de Economía, Ministerio de Economía de la Nación.
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Elements of AI</div>
            Building AI. Universidad de Helsinki
          </div>
         
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Técnico electrónico</div>
            Estudios secundarios en Escuela Técnica nro28 "República Francesa"
          </div>
         
        </li>
      </ol>
  
    </div>
    <div class="col-md-6 pt-3">
      <div class="progress">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
          aria-valuemax="100">HTML 5</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100">CSS</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 65%" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100">BOOTSTRAP</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100">GIT</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
          aria-valuemax="100">TYPE SCRIPT</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
          aria-valuemax="100">JAVA</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100">SQL</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100">ARDUINO</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0"
          aria-valuemax="100">FIGMA</div>
      </div>
  
      <div class="progress mt-2">
        <div class="progress-bar bg-barras soft" role="progressbar" style="width: 95%" aria-valuenow="95"
          aria-valuemin="0" aria-valuemax="100">Colaboración y capacidad de trabajar en equipo</div>
      </div>
      <div class="progress mt-1">
        <div class="progress-bar bg-barras soft" role="progressbar" style="width: 90%" aria-valuenow="90"
          aria-valuemin="0" aria-valuemax="100">Resolución de problemas</div>
      </div>
      <div class="row mt-2 mb-2 ms-sw me-sw pt-1" style="background-color: #E9ECEF;">
        <h4 class="pt-1">Software
          <a class="ps-3"><img src="assets/img/windows-logo.png" alt="..." style="width: 40px"></a>
          <a class="ps-5"><img src="assets/img/linux-logo.png" alt="..." style="width: 45px"></a>
          <a class="ps-5"><img src="assets/img/docker-logo.png" alt="..." style="width: 45px"></a>
          <a class="ps-5"><img src="assets/img/AI-logo.png" alt="..." style="width: 40px"></a>
          <a class="ps-5"><img src="assets/img/figma-logo.png" alt="..." style="width: 40px"></a>
          <a class="ps-5"><img src="assets/img/pngegg.png" alt="..." style="width: 40px"></a>
          <a class="ps-5"><img src="assets/img/cpanel.png" alt="..." style="width: 40px"></a>
  
        </h4>
      </div>
    </div>
  </div>